body{
    background-color: #333;
    color: #fff;
}
#clock{
    font-family: courier, monospace;
    font-size: 50px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#day{
    margin-left: auto;
    margin-right: auto;
    font-size: 75px;
}
.mCenter{
    text-align: center;
    position: relative;
    right: -523px;
}
#year{
    margin-left: auto;
    margin-right: auto;
}
#digitalClock{
    height: 100px;
    width: 790px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: center;
}
.clear{
    clear: both;
}