<a ui-sref="home"><button>Home</button></a>
<a ui-sref="categories"><button>Categories</button></a>
<h2 class="text-center">Categories</h2>
<hr>
<div class="col-md-3" ng-repeat="item in categoriesCtrl.items">
  <a ui-sref='categories.items({categoryShortName: item.short_name})'>
    <div class="category-tile">
      <img width="200" height="200" src="images/menu/{{item.short_name}}/{{item.short_name}}.jpg" alt="{{item.name}}">
      <span>{{item.name}}</span>
    </div>
  </a>
</div>
<ui-view></ui-view>
